.t8983159b-5843-4695-a008-fa79ce43e53c {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .t8983159b-5843-4695-a008-fa79ce43e53c.place-top {
    margin-top: -10px;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-top::before {
    border-top: 8px solid transparent;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.t8983159b-5843-4695-a008-fa79ce43e53c.place-bottom {
    margin-top: 10px;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.t8983159b-5843-4695-a008-fa79ce43e53c.place-left {
    margin-left: -10px;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-left::before {
    border-left: 8px solid transparent;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.t8983159b-5843-4695-a008-fa79ce43e53c.place-right {
    margin-left: 10px;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-right::before {
    border-right: 8px solid transparent;
}
.t8983159b-5843-4695-a008-fa79ce43e53c.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

  .t2e5b18b5-29f4-4442-bce3-a05563d3f941 {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-top {
    margin-top: -10px;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-top::before {
    border-top: 8px solid transparent;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-bottom {
    margin-top: 10px;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-left {
    margin-left: -10px;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-left::before {
    border-left: 8px solid transparent;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-right {
    margin-left: 10px;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-right::before {
    border-right: 8px solid transparent;
}
.t2e5b18b5-29f4-4442-bce3-a05563d3f941.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

  .t6fc603ce-caab-4583-86de-65e50e3ca291 {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .t6fc603ce-caab-4583-86de-65e50e3ca291.place-top {
    margin-top: -10px;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-top::before {
    border-top: 8px solid transparent;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.t6fc603ce-caab-4583-86de-65e50e3ca291.place-bottom {
    margin-top: 10px;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.t6fc603ce-caab-4583-86de-65e50e3ca291.place-left {
    margin-left: -10px;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-left::before {
    border-left: 8px solid transparent;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.t6fc603ce-caab-4583-86de-65e50e3ca291.place-right {
    margin-left: 10px;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-right::before {
    border-right: 8px solid transparent;
}
.t6fc603ce-caab-4583-86de-65e50e3ca291.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

  .t03151bf2-ad78-45dc-b21a-c7421ec5b8ed {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-top {
    margin-top: -10px;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-top::before {
    border-top: 8px solid transparent;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-bottom {
    margin-top: 10px;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-left {
    margin-left: -10px;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-left::before {
    border-left: 8px solid transparent;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-right {
    margin-left: 10px;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-right::before {
    border-right: 8px solid transparent;
}
.t03151bf2-ad78-45dc-b21a-c7421ec5b8ed.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

  .t256d1750-e378-41a7-87cd-be0327b880df {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .t256d1750-e378-41a7-87cd-be0327b880df.place-top {
    margin-top: -10px;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-top::before {
    border-top: 8px solid transparent;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.t256d1750-e378-41a7-87cd-be0327b880df.place-bottom {
    margin-top: 10px;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.t256d1750-e378-41a7-87cd-be0327b880df.place-left {
    margin-left: -10px;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-left::before {
    border-left: 8px solid transparent;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.t256d1750-e378-41a7-87cd-be0327b880df.place-right {
    margin-left: 10px;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-right::before {
    border-right: 8px solid transparent;
}
.t256d1750-e378-41a7-87cd-be0327b880df.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

  .tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-top {
    margin-top: -10px;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-top::before {
    border-top: 8px solid transparent;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-bottom {
    margin-top: 10px;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-left {
    margin-left: -10px;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-left::before {
    border-left: 8px solid transparent;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-right {
    margin-left: 10px;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-right::before {
    border-right: 8px solid transparent;
}
.tc2ae4d89-bb01-4c08-80be-c8588b8a0b2d.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

  .te1a7ae0e-de06-49e3-8bc1-e17871046884 {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .te1a7ae0e-de06-49e3-8bc1-e17871046884.place-top {
    margin-top: -10px;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-top::before {
    border-top: 8px solid transparent;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-bottom {
    margin-top: 10px;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-left {
    margin-left: -10px;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-left::before {
    border-left: 8px solid transparent;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-right {
    margin-left: 10px;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-right::before {
    border-right: 8px solid transparent;
}
.te1a7ae0e-de06-49e3-8bc1-e17871046884.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}

  .t535aee93-637f-4426-85c5-790e73a8f018 {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
  }

  .t535aee93-637f-4426-85c5-790e73a8f018.place-top {
    margin-top: -10px;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-top::before {
    border-top: 8px solid transparent;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-top::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.t535aee93-637f-4426-85c5-790e73a8f018.place-bottom {
    margin-top: 10px;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-bottom::before {
    border-bottom: 8px solid transparent;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-bottom::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -6px;
    left: 50%;
    margin-left: -8px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    border-bottom-width: 6px;
}

.t535aee93-637f-4426-85c5-790e73a8f018.place-left {
    margin-left: -10px;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-left::before {
    border-left: 8px solid transparent;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-left::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    border-left-color: #222;
    border-left-style: solid;
    border-left-width: 6px;
}

.t535aee93-637f-4426-85c5-790e73a8f018.place-right {
    margin-left: 10px;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-right::before {
    border-right: 8px solid transparent;
}
.t535aee93-637f-4426-85c5-790e73a8f018.place-right::after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #222;
    border-right-style: solid;
    border-right-width: 6px;
}