/* .iAojfB {
    background: rgb(33, 33, 34);
    padding: 40px 0px 40px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

img, svg {
    vertical-align: middle;
    width: 211px;
}



.byIeIu .slick-track {
    display: flex;
}







.eHcilp {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 30px 20px;
    border-radius: 40px;
    background-color: rgb(33, 33, 34);
    margin-bottom: 20px;
}




h1 {
    text-align: center;
    padding: 12px;
    color: aliceblue;
} */
